.menu-search-wrap
    .menu-search
        span [
        span #
        input(type="text" placeholder="search...")
        #menu-search-scroll(data-scroll="410")
            ul.menu-swipe-list
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.
                li 
                    a(href="#")
                        img(src=require('./portrait.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, labore.